@font-face {
  font-family: "Rust";
  src: url("./fonts/Rust.ttf") format("OpenType");
}

:root {
  --main-bg-color: 40, 40, 40;
  --secondary-bg-color: 206, 65, 43;

  --main-btn-color: 99, 122, 60;

  --main-tx-color: 233, 219, 209;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: stretch;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(43, 0, 108, 1) 100%
  );
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

.app-container {
  padding: 1em;
  min-height: 100vh;
  background: rgba(var(--main-bg-color), 0.8);
  color: rgba(var(--main-tx-color), 0.6);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-container article {
  max-width: 1300px;
}

.app-container header {
  color: rgba(var(--main-tx-color), 0.8);
}

.app-container h1 {
  color: rgba(var(--main-tx-color));
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 2.3em;
  display: flex;
  padding: 2em;
  background: rgba(var(--main-bg-color), 0.98);
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  transform: translateX(-100%);
  transition: 300ms;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.nav-container.active {
  transform: translateX(0);
}

.nav-container.disabled {
  transform: translateX(-100%);
}

.nav-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.nav-group:first-of-type {
  margin-top: 1.5em;
}

.nav-item {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: rgba(var(--main-tx-color), 0.4);
}

.nav-container .brand {
  padding: 0.3em 0.4em;
  color: rgba(var(--main-bg-color));
  background: rgba(var(--secondary-bg-color));
}

.nav-container .brand-text {
  color: rgba(var(--main-tx-color));
  font-family: "Rust", sans-serif;
  font-size: 1.6em;
  margin-left: 0.2em;
}

.nav-container .brand-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item:hover {
  color: rgba(var(--main-tx-color), 1);
}

.nav-hamburger {
  position: fixed;
  right: 0;
  top: 0;
  color: rgba(var(--main-bg-color));
  background-color: rgba(var(--secondary-bg-color), 0.9);
  padding: 0.1em 0.2em;
  font-size: 2em;
  margin: 0.4em 0.4em 0 0;
}

.article.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.article.home > header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article.home > header > h1 {
  margin-bottom: 0;
}

.article.home > header > h3 {
  margin: 0;
  margin-bottom: 0.2em;
}

.article.home > header > h5 {
  margin-top: 0;
}

.title-plugins {
  display: flex;
  justify-content: center;
}

.articles-container.plugin {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: content-box;
  justify-content: center;
}

.article.plugin {
  width: 320px;
  padding: 1em;
  background: rgba(var(--main-bg-color), 0.9);
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article.plugin .article-button {
  align-self: flex-end;
  text-decoration: none;
}

.article-content.plugin.active {
  display: inline-block;
}

.article-button.plugin {
  background-color: rgba(var(--main-btn-color));
  font-size: 1.2em;
  padding: 0.5em 1em;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: rgba(var(--main-tx-color));
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: none;
  outline: none;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background: rgba(var(--main-bg-color), 0.2);
  bottom: 50%;
  right: 0;
  position: fixed;
}

.footer-container .icon {
  font-size: 2em;
  color: rgba(var(--main-tx-color), 0.4);
  cursor: pointer;
}

.footer-container .icon:hover {
  color: rgba(var(--main-tx-color));
}

.akzent-secondary {
  color: rgba(var(--secondary-bg-color));
}

.plugin-container a {
  text-decoration: none;
}

.article.info {
  width: 100%;
}

.article.info main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.article.info iframe {
  width: 100%;
}

.article.info main div {
  background: rgba(var(--main-bg-color), 0.9);
  padding: 1em;
  width: 100%;
}

.article.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.article.info .info-section div h4, 
.article.info .info-section div p {
  margin: 0;
}

.article.info .info-section div p {
  margin-bottom: 1em;
}

.article.info .info-section div {
  padding: 0;
}

@media screen and (min-width: 480px) {
  .article.info main div {
    padding: 1em;
    max-width: 400px;
  }
}

@media screen and (min-width: 960px) {
  body {
    font-size: 18px;
  }
  .nav-container {
    position: static;
    transform: none;
    background: rgba(var(--main-bg-color), 0.8);
    flex: 1.5;
    padding-right: 1em;
    padding-left: 1em;
  }

  /* Ignore active and disabled for large screens */
  .nav-container.active {
    transform: none;
  }

  .nav-container.disabled {
    transform: none;
  }

  .nav-hamburger {
    visibility: hidden;
  }

  .app-container {
    flex: 4 2;
    background: rgba(var(--main-bg-color), 0.95);
  }

  .footer-container {
    position: static;
    background: rgba(var(--main-bg-color), 0.8);
  }
  .footer-container .icon {
    color: rgba(var(--main-tx-color), 0.6);
  }
}

@media screen and (min-width: 1300px) {
  body {
    font-size: 20px;
  }
}
